<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>CharacterCounter</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>

        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--DispatcherServlet对应的上下文配置，默认为/WEB-INF/$servlet-name$-servlet.xml，我们做了改变-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/configs/spring/mvc-dispatcher-servlet.xml</param-value>
        </init-param>
        
        <load-on-startup>1</load-on-startup>

    </servlet>


    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <!--使mvc-dispatcher拦截所有请求-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>




</web-app>
